$backgroundColor1: #fafbfc;
$backgroundColor2: #fff;
$textBackground: #CFF8FE;
$textColor1: #323b4b;
$textColor2: #005ff9;
$textColor3: #8a94a6;
$boderColor: #dadce0;

body {
}
.header {
	background-color: #fff;
	display: flex;
	align-items: center;
	height: 64px;
}
.first-part {
	display: flex;
}
.menu-header {
    border: none;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
    background-color: #fff;

    &:hover {
        background-color: #f0f0f0;
    }
}

.menu-header-img {
	max-width: 20px;
}
.beside-menu {
	display: flex;
}
.logo-calendy {
	width: 48px;
	height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.beside-logo {
    margin-left: 30px;
    margin-right: 5px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.detail-items {
    display: flex;
    display: flex;
}
.current-state {
    margin-left: 100px;
    margin-right: 5px;
    margin-top: 5px;
    padding: 6px;
    border: 1px solid;
    border-radius: 5px;
    border-color: #dadce0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;

    &:hover {
        background-color: #f0f0f0;
    }
}

.prev-state {
    margin-left: 20px;
    margin-right: 5px;
    color: #5f6368;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 50%;
    position: relative;
    transition: background-color 0.3s;

    &:hover {
        background-color: #f0f0f0;
    }

    &::before {
        content: "";
        width: 10px;
        height: 10px;
        border-top: 2px solid #5f6368;
        border-left: 2px solid #5f6368;
        position: absolute;
        top: 50%;
        left: 55%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}

.next-state {
    margin-left: 10px;
    margin-right: 5px;
    color: #5f6368;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 50%;
    position: relative;
    transition: background-color 0.3s;

    &:hover {
        background-color: #f0f0f0;
    }

    &::before {
        content: "";
        width: 10px;
        height: 10px;
        border-top: 2px solid #5f6368;
        border-left: 2px solid #5f6368;
        position: absolute;
        top: 50%;
        left: 45%;
        transform: translate(-50%, -50%) rotate(135deg);
    }
}

.currentDate {
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container cho các nút */
.header-buttons {
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
    align-items: center;
}

/* Kiểu cho nút sign up */
.register-button {
    background: transparent;
    width: 97px;
    height: 50px;
    border-radius: 5px;
    border-color: #dadce0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    margin-right: 10px;

    /* Khoảng cách với nút login */
    &:hover {
        background-color: #fff;
    }
}

/* Kiểu cho nút login */
.login-button {
    background: transparent;
    width: 80px;
    height: 50px;
    border-radius: 5px;
    border-color: #dadce0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;

    &:hover {
        background-color: #fff;
    }
}
/* Container cho các nút */
.header-buttons {
	display: flex;
	margin-left: auto;
	justify-content: flex-end;
	align-items: center;
  }
  
  /* Kiểu cho nút sign up */
  .register-button {
	background: transparent;
	width: 97px;
	height: 50px;
	border-radius: 5px;
	border-color: #dadce0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-weight: 600;
	cursor: pointer;
	margin-right: 10px; /* Khoảng cách với nút login */
	&:hover {
	  background-color: #fff;
	}
  }
  
  /* Kiểu cho nút login */
  .login-button {
	background: transparent;
	width: 80px;
	height: 50px;
	border-radius: 5px;
	border-color: #dadce0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-weight: 600;
	cursor: pointer;
	&:hover {
	  background-color: #fff;
	}
  }


// Add, edit event form


.container-fluid {
    position: relative;
}

.add-event-form,
.edit-event-form {
    position: absolute;
    max-width: 300px;
    max-height: 500px;
    overflow: hidden;
    border-radius: 20px;
    background-color: $backgroundColor2;
    box-shadow: 4px 4px 8px #8888888a;
    top: 20px;
    left: -300px;
    z-index: 2;
    transition: left 0.5s ease-in;

    .add-event-header {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        color: $textColor2;
        border-bottom: 1px solid $boderColor;

        .title {
            font-size: 1.2rem;
            font-weight: 500;
        }

        .close {
            font-size: 1.5rem;
            color: $textColor1;
            cursor: pointer;

            &:hover {
                color: red;
            }
        }
    }

    .add-event-body {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 20px;

        .add-event-input {
            width: 100%;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;

            input {
                width: 100%;
                height: 100%;
                outline: none;
                border: none;
                border-bottom: 1px solid black;
                padding: 0 10px;
                font-size: 1rem;
                font-weight: 400;
                color: #373c4f;

                &::placeholder {
                    color: #a5a5a5;
                }

                &:focus {
                    border-bottom: 1px solid var(--my-cyan);

                    &::placeholder {
                        color: $textColor2;
                    }
                }
            }
        }

        select {
            margin-top: 10px;
            width: 45%;
            outline: none;
            border: none;
            border-bottom: 1px solid black;
            font-weight: 500;
        }
    }

    .add-event-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $backgroundColor2;
        padding-bottom: 20px;

        .add-event-btn {
            height: 40px;
            font-size: 1rem;
            font-weight: 500;
            outline: none;
            border: none;
            color: white;
            background-color: $textColor2;
            border-radius: 20px;
            cursor: pointer;
            padding: 0 10px;
            text-align: right;
            box-shadow: 4px 4px 8px #8888888a;
            ;

            &:hover {
                box-shadow: 4px 4px 8px transparent;
                transform: translateX(-2px);
                transform: translateX(2px);
                border: 0;
            }
        }
    }
}

.edit-event-form {
    .add-event-footer {
        justify-content: space-around;

        .save-event-btn {
            height: 40px;
            font-size: 1rem;
            font-weight: 500;
            outline: none;
            border: none;
            color: white;
            background-color: $textColor2;
            border-radius: 20px;
            cursor: pointer;
            padding: 0 10px;
            text-align: right;
            box-shadow: 4px 4px 8px #8888888a;

            &:hover {
                box-shadow: 4px 4px 8px transparent;
                transform: translateX(-2px);
                transform: translateX(2px);
                border: 0;
            }
        }

        .remove-event-btn {
            height: 40px;
            font-size: 1rem;
            font-weight: 500;
            outline: none;
            border: none;
            color: white;
            background-color: red;
            border-radius: 20px;
            cursor: pointer;
            padding: 0 10px;
            text-align: right;
            box-shadow: 4px 4px 8px #8888888a;

            &:hover {
                box-shadow: 4px 4px 8px transparent;
                transform: translateX(-2px);
                transform: translateX(2px);
                border: 0;
            }
        }
    }
}

.active {
    left: 10px;
}


.left {
    margin-top: 20px;
    min-height: 100vh;
    position: relative;
    background-color: $backgroundColor2;

    .event-button {
        border-width: 0px;
        border-radius: 25px;
        background-color: $textColor2;
        color: $backgroundColor2;
        padding: 2px 10px;
        min-height: 48px;
        align-items: center;
        display: flex;
        box-shadow: 4px 4px 8px #8888888a;

        .icon-add-event {
            padding: 0 5px;
            font-size: 150%;
        }

        .text-add-event {
            padding: 0 5px;
            font-weight: 500;
        }

        &:hover {
            box-shadow: 4px 4px 8px transparent;
            transform: translateY(2px);
        }
    }

    .calendar-main {
        margin-top: 20px;
        padding: 0 20px;
        background-color: $backgroundColor2;
        border-top: 2px solid $textColor3;

        .calendar {
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;
            color: $textColor1;
            border-radius: 5px;
            background-color: transparent;

            .month {
                width: 100%;
                height: 32px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-top: 20px;
                font-size: 14px;
                font-weight: 500;
                text-transform: capitalize;
                position: relative;
                margin-bottom: 10px;

                .prev,
                .next,
                .date {
                    cursor: pointer;
                    white-space: nowrap;

                    &:hover {
                        color: $textColor2;
                    }
                }

                .goToDate {
                    position: absolute;
                    top: auto;
                    bottom: auto;
                    font-size: 1rem;
                    width: 50px;
                    display: flex;
                    flex-direction: row;
                    visibility: hidden;

                    .inputDate {
                        width: 150px;
                        font-weight: 500;
                        border: 3px solid $boderColor;
                    }

                    .goToButton {
                        background-color: $textBackground;
                        color: $textColor2;
                        border: 3px solid $boderColor;
                        border-left: 0;
                        font-size: 0.8rem;
                        display: flex;
                        align-items: center;
                        opacity: 0.8;

                        &:hover {
                            opacity: 1;
                            cursor: pointer;
                        }
                    }
                }
            }

            .weekdays {
                width: 100%;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 12px;
                font-weight: 500;
                text-transform: capitalize;

                div {
                    width: 14.285%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .weekend {
                    color: red;
                }
            }

            .days {
                width: 100%;
                font-size: 70%;
                font-weight: 500;
                margin-bottom: 20px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                .day {
                    width: 14.285%;
                    height: 0;
                    // ky thuat Aspect Ratio de tao ra mot div co width = height
                    padding-top: 14.285%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    color: $textColor1;
                    margin-bottom: 5px;
                    position: relative;

                    &:not(.prev-month):not(.active):not(.next-month):hover {
                        background-color: $boderColor;
                        border-radius: 50%;
                    }

                    .active {
                        color: $backgroundColor2;
                        background-color: $textColor2;
                        border-radius: 5px;
                    }

                    div {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                .prev-month,
                .next-month {
                    color: $textColor3;
                }
            }
        }
    }
}

// CSS Right Div


.right {
    background-color: $backgroundColor2;
    min-height: 100vh;
    margin-top: 20px;

    .week-calendar {
        display: flex;
        flex-direction: column;

        .weekdays {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border: 2px solid $boderColor;
            border-bottom: 0px;

            div {
                width: 14.285%;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.5rem;
                font-weight: 500;
                text-transform: capitalize;
                border-left: 2px solid $boderColor;

                &:first-child {
                    border-left: 0px;
                }
            }


            .weekend {
                color: red;
            }
        }

        .days {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border: 2px solid $boderColor;
            border-top: 0px;
            border-bottom: 0px;

            .day {
                width: 14.285%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.5rem;
                color: $textColor1;
                font-weight: 500;
                border-left: 2px solid $boderColor;

                &:first-child {
                    border-left: 0px;
                }
            }

            .active {
                color: $textColor2;
            }
        }

        .events_container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: $backgroundColor1;
            border: 2px solid $boderColor;
            border-top: 0px;

            .events {
                width: 14.285%;
                min-height: 100vh;
                display: flex;
                align-items: center;
                font-size: 1.5rem;
                border-left: 2px solid $boderColor;
                border-top: 2px solid $boderColor;
                flex-direction: column;

                .event {
                    background-color: $backgroundColor2;
                    color: $textColor1;
                    width: 90%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    margin-top: 10px;
                    border-bottom: 2px solid $boderColor;
                    border-left: 2px solid $boderColor;
                    overflow-x: hidden;
                    box-shadow: 4px 4px 8px #8888888a;

                    .type {
                        display: block;
                        width: 100%;
                        height: 10px;
                        border-radius: 5px;
                        color: transparent;
                    }

                    .title {
                        width: 100%;
                        font-weight: 500;
                        text-align: left;
                        padding-left: 10px;
                    }

                    .time {
                        width: 100%;
                        font-size: 1rem;
                        text-align: left;
                        padding-left: 20px;
                    }

                    &:hover {
                        box-shadow: 4px 4px 8px transparent;
                        transform: translateY(2px);
                        transform: translateX(-2px);
                    }
                }

                &:first-child {
                    border-left: 0;
                }
            }
        }
    }
}


// CSS Login Page

.loginPage {
    height: 900px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .wrapper {
        position: relative;
        width: 400px;
        height: 440px;
        background: transparent;
        border: 2px solid (rgba(255, 255, 255, 0.5));
        border-radius: 20px;
        backdrop-filter: blur(20px);
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
        transition: height .2s ease;

        .form-box-login {
            width: 100%;
            padding: 40px;
        }

        .form-box-register {
            display: none;
            width: 100%;
            padding: 40px;
        }

        .form-box-reset-password {
            display: none;
            width: 100%;
            padding: 40px;
        }
    }

    .wrapper.active {
        height: 575px;
    }

    .wrapper.active .form-box-login {
        display: none;
    }

    .wrapper.active .form-box-register {
        display: block;
    }

    .form-box-login h2 {
        font-size: 2rem;
        color: #2d384d;
        text-align: center;
    }

    .form-box-register h2 {
        font-size: 2rem;
        color: #2d384d;
        text-align: center;
    }

    .form-box-reset-password h2 {
        font-size: 2rem;
        color: #2d384d;
        text-align: center;
    }
    .input-box {
        position: relative;
        width: 100%;
        height: 50px;
        border-bottom: 2px solid #5f6368;
        margin: 30px 0;
    }

    .input-box label {
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        font-size: 1rem;
        color: #8a94a6;
        font-weight: 500;
        pointer-events: none;
    }

    .input-box input:focus~label,
    .input-box input:valid~label {
        top: -5px;
        transition: 0.3s;
    }

    .input-box input {
        width: 100%;
        height: 100%;
        background: transparent;
        border: none;
        outline: none;
        font-weight: 600;
        padding: 0 35px 0 5px;
    }

    .forget-password {
        font-size: 0.9rem;
        color: #8a94a6;
        font-weight: 500;
        margin: -15px 0 15px;
        display: flex;
        justify-content: right;
    }

    .forget-password a {
        color: #8a94a6;
        text-decoration: none;
    }

    .forget-password a:hover {
        text-decoration: underline;
    }

    .login-submit-btn {
        width: 100%;
        height: 45px;
        background: #8a94a6;
        border: none;
        outline: none;
        border-radius: 6px;
        cursor: pointer;
        font-size: 1rem;
        color: #fff;
        font-weight: 500;
    }

    .register-submit-btn {
        width: 100%;
        height: 45px;
        background: #8a94a6;
        border: none;
        outline: none;
        border-radius: 6px;
        cursor: pointer;
        font-size: 1rem;
        color: #fff;
        font-weight: 500;
    }

    .reset-submit-btn {
        width: 100%;
        height: 45px;
        background: #8a94a6;
        border: none;
        outline: none;
        border-radius: 6px;
        cursor: pointer;
        font-size: 1rem;
        color: #fff;
        font-weight: 500;
    }
    .register {
        font-size: 0.9rem;
        color: #373c4f;
        text-align: center;
        font-weight: 500;
        margin: 25px 0 10px;
    }

    .register p a {
        color: #323b4b;
        text-decoration: none;
        font-weight: 600;
    }

    .register p a:hover {
        text-decoration: underline;
    }


    button {
        background-color: #005ff9;
    }


    .wrapper.reset {
        height: 575px;
    }

    .wrapper.reset .form-box-login {
        display: none;
    }

    .wrapper.reset .form-box-register {
        display: none;
    }

    .wrapper.reset .form-box-reset-password {
        display: block;
    }

}