$bodyBackground: linear-gradient(to bottom right, #EAE7F1, #E1F3FE);
$containerBackground: #fff;
$textBackground: #CFF8FE;
$textColor1: #000;
$textColor2: #22CCEE;
$textColor3: #878895;
$boderColor: #EFEFEF;

body {
    background-image: $bodyBackground;
}

.header {
    background-color: #fff;
    display: flex;
    align-items: center;
    height: 64px; }
  
  .first-part {
    display: flex; }
  
  .menu-header {
    border: none;
    width: 48px;
    /* Đảm bảo kích thước phù hợp với hình ảnh */
    height: 48px;
    /* Đảm bảo kích thước phù hợp với hình ảnh */
    border-radius: 50%;
    /* Biến nó thành hình tròn */
    display: flex;
    justify-content: center;
    /* Căn giữa theo chiều ngang */
    align-items: center;
    /* Căn giữa theo chiều dọc */
    transition: background-color 0.3s;
    /* Hiệu ứng chuyển đổi màu nền */
    background-color: #fff; }
  
  .menu-header:hover {
    background-color: #f0f0f0;
    /* Màu nền khi hover */ }
  
  .menu-header-img {
    max-width: 20px; }
  
  .beside-menu {
    display: flex; }
  
  .logo-calendy {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center; }
  
  .beside-logo {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center; }
  
  .detail-items {
    display: flex; }
  
  .current-state {
    margin-left: 30px;
    padding: 8px;
    border: 1px solid;
    border-radius: 5px;
    border-color: #dadce0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer; }
  
  .current-state:hover {
    background-color: #f0f0f0; }
  
  .change-state {
    color: #5f6368; }
  
  .prev-state {
    color: #5f6368;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 50%;
    position: relative;
    transition: background-color 0.3s; }
  
  .prev-state:hover {
    background-color: #f0f0f0; }
  
 //::before là một pseudo-element được sử dụng để thêm nội dung vào
 // trước phần tử mục tiêu mà không cần phải thay đổi cấu trúc HTML
 // Nó cho phép bạn chèn nội dung hoặc kiểu dáng bổ sung mà không cần thay đổi HTML gốc.
 // Khi bạn sử dụng ::before, bạn có thể đặt các quy tắc kiểu dáng cho pseudo-element này
 // giống như đối với một phần tử HTML thực sự. Điều này có thể bao gồm việc thiết lập
 // kích thước, màu sắc, nội dung và các thuộc tính khác.
  .prev-state::before {
    content: "";
    width: 10px;
    height: 10px;
    border-top: 2px solid #5f6368;
    border-left: 2px solid #5f6368;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%) rotate(-45deg); 
    }

.left {
    margin-top: 20px;
    position: relative;

    .event-button {
        border-radius: 25px;
        border: 3px solid white;
        background-color: white;
        padding: 2px 10px;
        min-width: 100px;
        min-height: 48px;
        align-items: center;

        .icon-add-event {
            padding: 0 5px;
        }

        .text-add-event {
            padding: 0 5px;
            font-weight: 500;
        }
    }

    .add-event-wrapper {
        position: absolute;
        left: 50%;
        width: 100%;
        max-height: 0px;
        overflow: hidden;
        border-radius: 20px;
        background-color: $containerBackground;
        top: 0;
        left: 0;
        z-index: 2;
        transition: max-height 0.5s ease-in;

        .add-event-header {
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 20px;
            color: $textColor2;
            border-bottom: 1px solid $boderColor;

            .title {
                font-size: 1.2rem;
                font-weight: 500;
            }

            .close {
                font-size: 1.5rem;
                cursor: pointer;

                &:hover {
                    color: red;
                }
            }
        }

        .add-event-body {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding: 20px;

            .add-event-input {
                width: 100%;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 10px;

                input {
                    width: 100%;
                    height: 100%;
                    outline: none;
                    border: none;
                    border-bottom: 1px solid black;
                    padding: 0 10px;
                    font-size: 1rem;
                    font-weight: 400;
                    color: #373c4f;

                    &::placeholder {
                        color: #a5a5a5;
                    }

                    &:focus {
                        border-bottom: 1px solid var(--my-cyan);

                        &::placeholder {
                            color: $textColor2;
                        }
                    }
                }
            }
        }

        .add-event-footer {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $containerBackground;
            padding-bottom: 10px;

            .add-event-btn {
                height: 40px;
                font-size: 1rem;
                font-weight: 500;
                outline: none;
                border: none;
                color: $textColor2;
                background-color: transparent;
                border-radius: 20px;
                cursor: pointer;
                padding: 0 10px;
                border: 3px solid $textColor2;
                text-align: right;

                &:hover {
                    background-color: $textBackground;
                    border: 0;
                }
            }
        }
    }

    .edit-event-wrapper {
        position: absolute;
        visibility: hidden;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.3);
        visibility: hidden;
    }

    .active {
        max-height: 300px;
    }

    .calendar-main {
        margin-top: 20px;
        border-radius: 40px;
        padding: 0 20px;
        background-color: $containerBackground;

        .calendar {
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;
            color: $textColor1;
            border-radius: 5px;
            background-color: transparent;

            .month {
                width: 100%;
                height: 32px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-top: 20px;
                font-size: 14px;
                font-weight: 500;
                text-transform: capitalize;
                position: relative;
                margin-bottom: 10px;

                .prev,
                .next,
                .date {
                    cursor: pointer;
                    white-space: nowrap;

                    &:hover {
                        color: $textColor2;
                    }
                }

                .goToDate {
                    position: absolute;
                    top: auto;
                    bottom: auto;
                    font-size: 1rem;
                    width: 50px;
                    display: flex;
                    flex-direction: row;
                    visibility: hidden;

                    .inputDate {
                        width: 150px;
                        font-weight: 500;
                        border: 3px solid $boderColor;
                    }

                    .goToButton {
                        background-color: $textBackground;
                        color: $textColor2;
                        border: 3px solid $boderColor;
                        border-left: 0;
                        font-size: 0.8rem;
                        display: flex;
                        align-items: center;
                        opacity: 0.8;

                        &:hover {
                            opacity: 1;
                            cursor: pointer;
                        }
                    }
                }
            }

            .weekdays {
                width: 100%;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 12px;
                font-weight: 500;
                text-transform: capitalize;

                div {
                    width: 14.285%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .weekend {
                    color: red;
                }
            }

            .days {
                width: 100%;
                font-size: 100%;
                font-weight: 500;
                margin-bottom: 20px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                .day {
                    width: 14.285%;
                    height: 0;
                    // ky thuat Aspect Ratio de cho width = height
                    padding-top: 14.285%;   
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    color: $textColor2;
                    margin-bottom: 5px;
                    position: relative;

                    &:not(.prev-month):not(.active):not(.next-month):hover {
                        background-color: #eee;
                        border-radius: 50%;
                    }

                    div {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                .active {
                    color: $textColor2;
                    background-color: $textBackground;
                    border-radius: 50%;
                }

                .prev-month,
                .next-month {
                    color: $textColor3;
                }
            }
        }
    }
}

// CSS Right Div


.right {
    background-color: white;
    min-height: 100vh;
    margin-top: 20px;

    .week-calendar {
        display: flex;
        flex-direction: column;

        .weekdays {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            div {
                width: 14.285%;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.5rem;
                font-weight: 500;
                text-transform: capitalize;

            }

            .weekend {
                color: red;
            }
        }

        .days {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .day {
                width: 14.285%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 2rem;
                color: $textColor1;
                margin: auto;
            }

            .active {
                color: $textColor2;
                font-size: 2.5rem;
                border-bottom: 3px solid $boderColor;
                border-radius: 5px;
            }
        }

        .events_container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .events {
                width: 14.285%;
                min-height: 100vh;
                display: flex;
                align-items: center;
                font-size: 2rem;
                color: var(--my-cyan);
                border-left: 3px solid $boderColor;
                border-top: 3px solid $boderColor;
                flex-direction: column;

                .event {
                    background-color: $textColor2;
                    color: white;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    margin-bottom: 5px;
                }

                &:first-child {
                    border-left: 0;
                }
            }
        }
    }
}