<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="left">


                {{!-- add event button --}}



                <button class="add-event event-button">
                    <i class="fas fa-plus icon-add-event"></i>
                    <span class="text-add-event">
                        Add Event
                    </span>
                </button>


                {{!-- add event form --}}


                <div class="add-event-wrapper">
                    <div class="add-event-header">
                        <div class="title">Add Event</div>
                        <i class="fas fa-times close"></i>
                    </div>
                    <div class="add-event-body">
                        <div class="add-event-input">
                            <input type="text" placeholder="Event Name" class="event-name" />
                        </div>
                        <div class="add-event-input">
                            <input type="text" placeholder="Event Time From" class="event-time-from" />
                        </div>
                        <div class="add-event-input">
                            <input type="text" placeholder="Event Time To" class="event-time-to" />
                        </div>
                    </div>
                    <div class="add-event-footer">
                        <button class="add-event-btn">Add Event</button>
                    </div>
                    
                </div>
                <div class="overlay"></div>

                {{!-- month calendar --}}


                <div class="container calendar-main">
                    <div class="calendar">
                        <div class="month">
                            <div class="date"></div>
                            <span>
                                <i class="fas fa-angle-left prev"></i>
                                <i class="fas fa-angle-right next"></i>
                            </span>
                            <div class="goToDate">
                                <input class="inputDate" type="text" placeholder="mm/yyyy">
                                <div class="goToButton">Enter</div>
                            </div>
                        </div>
                        <div class="weekdays">
                            <div>Mon</div>
                            <div>Tue</div>
                            <div>Wed</div>
                            <div>Thu</div>
                            <div>Fri</div>
                            <div class="weekend">Sat</div>
                            <div class="weekend">Sun</div>
                        </div>
                        <div class="days"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="container right">
                <div class="today-date">
                    <div class="event-day"></div>
                    <div class="event-date"></div>
                </div>
                <div class="events">
                    {{#each events}}
                    <div class="event">
                        <div class="vertical-line-icon"></div>
                        <div class="title">
                            <h3 class="event-title">{{this.title}}</h3>
                            <div class="event-time">{{this.time}}</div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>