<div class="container-fluid">
    
    <div class="add-event-form">
        <div class="add-event-header">
            <div class="title">Add Event</div>
            <i class="fas fa-times close"></i>
        </div>
        <div class="add-event-body">
            <div class="add-event-input">
                <input type="text" placeholder="Event Name" class="event-name" name="title" />
            </div>
            <div class="add-event-input">
                <input type="text" placeholder="Time: hh:mm" class="event-time" name="time" />
            </div>
            <div class="add-event-input">
                <input type="text" placeholder="Date: dd/mm/yyyy" class="event-date" name="date" />
            </div>
            <div class="add-event-input">
                <input type="text" placeholder="Description" class="description" name="description" />
            </div>
        </div>
        <div class="add-event-footer">
            <button class="add-event-btn">Add Event</button>
        </div>
    </div>

    <div class="edit-event-form">
        <div class="add-event-header">
            <div class="title">Edit</div>
            <i class="fas fa-times close"></i>
        </div>
        <div class="add-event-body">
            <input type="text" class="event-id" style="display: none;" name="id" />
            <div class="add-event-input">
                <input type="text" placeholder="Event Name" class="event-name" name="title" />
            </div>
            <div class="add-event-input">
                <input type="text" placeholder="Time: hh:mm" class="event-time" name="time" />
            </div>
            <div class="add-event-input">
                <input type="text" placeholder="Date" class="event-date" name="date" />
            </div>
            <div class="add-event-input">
                <input type="text" placeholder="Description" class="event-description" name="description" />
            </div>
        </div>
        <div class="add-event-footer">
            <button class="save-event-btn">Save</button>
            <button class="remove-event-btn">Remove</button>
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <div class="left">

                {{!-- add event button --}}

                <button class="add-event event-button">
                    <i class="fas fa-plus icon-add-event"></i>
                    <span class="text-add-event">
                        New Event
                    </span>
                </button>

                <div class="calendar-main">
                    <div class="calendar">
                        <div class="month">
                            <div class="date"></div>
                            <span>
                                <i class="fas fa-angle-left prev"></i>
                                <i class="fas fa-angle-right next"></i>
                            </span>
                            <div class="goToDate">
                                <input class="inputDate" type="text" placeholder="mm/yyyy">
                                <div class="goToButton">Enter</div>
                            </div>
                        </div>
                        <div class="weekdays">
                            <div>Mon</div>
                            <div>Tue</div>
                            <div>Wed</div>
                            <div>Thu</div>
                            <div>Fri</div>
                            <div class="weekend">Sat</div>
                            <div class="weekend">Sun</div>
                        </div>
                        <div class="days"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-10">
            <div class="right">
                <div class="week-calendar">
                    <div class="weekdays">
                        <div>Mon</div>
                        <div>Tue</div>
                        <div>Wed</div>
                        <div>Thu</div>
                        <div>Fri</div>
                        <div class="weekend">Sat</div>
                        <div class="weekend">Sun</div>
                    </div>
                    <div class="days"></div>
                    <div class="events_container">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<script type="module" src="/js/index.js"></script>