<div class="loginPage">

    {{!-- code trong div nay !! --}}
    
    <button class="loginButton">Login Page</button>

</div>

{{!-- ket noi voi file js --}}
<script type="module" src="/js/login.js"></script>