body {
  background-color: #fff;
  position: relative; }

.header {
  height: 64px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #dadce0; }
  .header .left {
    display: flex;
    height: 48px;
    align-items: center;
    padding-left: 40px; }
    .header .left .logo {
      width: 45px;
      height: 45px;
      margin-right: 10px; }
    .header .left .name {
      height: 44px;
      font-weight: 500;
      color: #323b4b;
      padding-right: 20px;
      font-size: 24px;
      margin-top: 5px; }
    .header .left .date {
      padding-left: 70px;
      font-weight: 500;
      font-size: 22px; }
  .header .right {
    padding-right: 40px;
    display: flex; }
    .header .right .button {
      width: 80px;
      height: 38px;
      background-color: #fff;
      font-size: 1rem;
      color: #323b4b;
      margin: 0px 8px;
      border-radius: 5px;
      border: 1px solid #dadce0;
      cursor: pointer;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center; }
      .header .right .button:hover {
        background-color: #f0f0f0; }
    .header .right .profile {
      border-radius: 50%;
      border: 0px;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .header .right .profile .profile-button {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        border: 0px solid #dadce0;
        color: #ffffff;
        align-items: center;
        justify-content: center;
        padding: 0px; }
        .header .right .profile .profile-button .profile-picture {
          width: 38px;
          height: 38px;
          border-radius: 50%;
          align-items: center;
          justify-content: center; }
      .header .right .profile .menu {
        list-style: none;
        padding: 0.2rem 0.5rem;
        background: #fafbfc;
        border: 1px #dadce0 solid;
        box-shadow: 0 0.5rem 1em rgba(0, 0, 0, 0.2);
        border-radius: 0.5em;
        color: #323b4b;
        position: absolute;
        top: 3.5em;
        left: 93%;
        width: 80px;
        transform: translateX(-50%);
        opacity: 0;
        display: none;
        transition: 0.2s;
        z-index: 1; }
        .header .right .profile .menu .selection {
          display: flex;
          justify-content: center;
          margin: 0.1em 0;
          font-weight: 500;
          cursor: pointer; }
          .header .right .profile .menu .selection:hover {
            background: #f0f0f0; }
      .header .right .profile .menu-open {
        display: block;
        opacity: 1; }

.container-fluid {
  position: relative; }

.add-event-form,
.edit-event-form {
  position: absolute;
  max-width: 300px;
  max-height: 500px;
  overflow: hidden;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 4px 4px 8px #8888888a;
  top: 20px;
  left: -300px;
  z-index: 2;
  transition: left 0.5s ease-in; }
  .add-event-form .add-event-header,
  .edit-event-form .add-event-header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: #005ff9;
    border-bottom: 1px solid #dadce0; }
    .add-event-form .add-event-header .title,
    .edit-event-form .add-event-header .title {
      font-size: 1.2rem;
      font-weight: 500; }
    .add-event-form .add-event-header .close,
    .edit-event-form .add-event-header .close {
      font-size: 1.5rem;
      color: #323b4b;
      cursor: pointer; }
      .add-event-form .add-event-header .close:hover,
      .edit-event-form .add-event-header .close:hover {
        color: red; }
  .add-event-form .add-event-body,
  .edit-event-form .add-event-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px; }
    .add-event-form .add-event-body .add-event-input,
    .edit-event-form .add-event-body .add-event-input {
      width: 100%;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px; }
      .add-event-form .add-event-body .add-event-input input,
      .edit-event-form .add-event-body .add-event-input input {
        width: 100%;
        height: 100%;
        outline: none;
        border: none;
        border-bottom: 1px solid black;
        padding: 0 10px;
        font-size: 1rem;
        font-weight: 400;
        color: #373c4f; }
        .add-event-form .add-event-body .add-event-input input::placeholder,
        .edit-event-form .add-event-body .add-event-input input::placeholder {
          color: #a5a5a5; }
        .add-event-form .add-event-body .add-event-input input:focus,
        .edit-event-form .add-event-body .add-event-input input:focus {
          border-bottom: 1px solid var(--my-cyan); }
          .add-event-form .add-event-body .add-event-input input:focus::placeholder,
          .edit-event-form .add-event-body .add-event-input input:focus::placeholder {
            color: #005ff9; }
    .add-event-form .add-event-body select,
    .edit-event-form .add-event-body select {
      margin-top: 10px;
      width: 45%;
      outline: none;
      border: none;
      border-bottom: 1px solid black;
      font-weight: 500; }
  .add-event-form .add-event-footer,
  .edit-event-form .add-event-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding-bottom: 20px; }
    .add-event-form .add-event-footer .add-event-btn,
    .edit-event-form .add-event-footer .add-event-btn {
      height: 40px;
      font-size: 1rem;
      font-weight: 500;
      outline: none;
      border: none;
      color: white;
      background-color: #005ff9;
      border-radius: 20px;
      cursor: pointer;
      padding: 0 10px;
      text-align: right;
      box-shadow: 4px 4px 8px #8888888a; }
      .add-event-form .add-event-footer .add-event-btn:hover,
      .edit-event-form .add-event-footer .add-event-btn:hover {
        box-shadow: 4px 4px 8px transparent;
        transform: translateX(-2px);
        transform: translateX(2px);
        border: 0; }

.edit-event-form .add-event-footer {
  justify-content: space-around; }
  .edit-event-form .add-event-footer .save-event-btn {
    height: 40px;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    border: none;
    color: white;
    background-color: #005ff9;
    border-radius: 20px;
    cursor: pointer;
    padding: 0 10px;
    text-align: right;
    box-shadow: 4px 4px 8px #8888888a; }
    .edit-event-form .add-event-footer .save-event-btn:hover {
      box-shadow: 4px 4px 8px transparent;
      transform: translateX(-2px);
      transform: translateX(2px);
      border: 0; }
  .edit-event-form .add-event-footer .remove-event-btn {
    height: 40px;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    border: none;
    color: white;
    background-color: red;
    border-radius: 20px;
    cursor: pointer;
    padding: 0 10px;
    text-align: right;
    box-shadow: 4px 4px 8px #8888888a; }
    .edit-event-form .add-event-footer .remove-event-btn:hover {
      box-shadow: 4px 4px 8px transparent;
      transform: translateX(-2px);
      transform: translateX(2px);
      border: 0; }

.active {
  left: 10px; }

.container-fluid .left {
  margin-top: 20px;
  min-height: 100vh;
  position: relative;
  background-color: #fff; }
  .container-fluid .left .event-button {
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
    background-color: #005ff9;
    color: #fff;
    width: 135px;
    border-radius: 10px;
    border: 0px solid;
    padding: 2px 10px;
    min-height: 30px;
    align-items: center;
    display: flex;
    transition: border 0.28s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1); }
    .container-fluid .left .event-button .icon-add-event {
      padding: 0 5px;
      font-size: 100%;
      color: #f3f7ff; }
      .container-fluid .left .event-button .icon-add-event ::before {
        width: 36px;
        height: 36px; }
    .container-fluid .left .event-button .text-add-event {
      display: flex;
      font-weight: 500;
      width: 90px;
      height: 36px;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      color: #f3f7ff; }
    .container-fluid .left .event-button:hover {
      transform: translateY(2px); }
  .container-fluid .left .calendar-main {
    margin-top: 20px;
    padding: 0 0 0 10px;
    background-color: #fff; }
    .container-fluid .left .calendar-main .calendar {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      color: #323b4b;
      border-radius: 5px;
      background-color: transparent; }
      .container-fluid .left .calendar-main .calendar .month {
        width: 100%;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 20px;
        font-size: 14px;
        font-weight: 500;
        text-transform: capitalize;
        position: relative;
        margin-bottom: 10px; }
        .container-fluid .left .calendar-main .calendar .month .prev,
        .container-fluid .left .calendar-main .calendar .month .next,
        .container-fluid .left .calendar-main .calendar .month .date {
          cursor: pointer;
          white-space: nowrap; }
          .container-fluid .left .calendar-main .calendar .month .prev:hover,
          .container-fluid .left .calendar-main .calendar .month .next:hover,
          .container-fluid .left .calendar-main .calendar .month .date:hover {
            color: #005ff9; }
        .container-fluid .left .calendar-main .calendar .month .goToDate {
          position: absolute;
          top: auto;
          bottom: auto;
          font-size: 1rem;
          width: 50px;
          display: flex;
          flex-direction: row;
          visibility: hidden; }
          .container-fluid .left .calendar-main .calendar .month .goToDate .inputDate {
            width: 150px;
            font-weight: 500;
            border: 3px solid #dadce0; }
          .container-fluid .left .calendar-main .calendar .month .goToDate .goToButton {
            background-color: #CFF8FE;
            color: #005ff9;
            border: 3px solid #dadce0;
            border-left: 0;
            font-size: 0.8rem;
            display: flex;
            align-items: center;
            opacity: 0.8; }
            .container-fluid .left .calendar-main .calendar .month .goToDate .goToButton:hover {
              opacity: 1;
              cursor: pointer; }
      .container-fluid .left .calendar-main .calendar .weekdays {
        width: 100%;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 12px;
        font-weight: 500;
        text-transform: capitalize; }
        .container-fluid .left .calendar-main .calendar .weekdays div {
          width: 14.285%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center; }
        .container-fluid .left .calendar-main .calendar .weekdays .weekend {
          color: red; }
      .container-fluid .left .calendar-main .calendar .days {
        width: 100%;
        font-size: 70%;
        font-weight: 500;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; }
        .container-fluid .left .calendar-main .calendar .days .day {
          width: 14.285%;
          height: 0;
          padding-top: 14.285%;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          color: #323b4b;
          margin-bottom: 5px;
          position: relative; }
          .container-fluid .left .calendar-main .calendar .days .day:not(.prev-month):not(.active):not(.next-month):hover {
            background-color: #dadce0;
            border-radius: 50%; }
          .container-fluid .left .calendar-main .calendar .days .day .active {
            color: #fff;
            background-color: #005ff9;
            border-radius: 5px; }
          .container-fluid .left .calendar-main .calendar .days .day div {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center; }
        .container-fluid .left .calendar-main .calendar .days .prev-month,
        .container-fluid .left .calendar-main .calendar .days .next-month {
          color: #8a94a6; }

.container-fluid .right {
  background-color: #fff;
  min-height: 100vh;
  margin-top: 20px;
  color: #323b4b; }
  .container-fluid .right .week-calendar {
    display: flex;
    flex-direction: column; }
    .container-fluid .right .week-calendar .weekdays {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .container-fluid .right .week-calendar .weekdays div {
        width: 14.285%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14;
        font-weight: 500;
        text-transform: capitalize; }
      .container-fluid .right .week-calendar .weekdays .weekend {
        color: red; }
    .container-fluid .right .week-calendar .days {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border: 1px solid #dadce0;
      border-top: 0px;
      border-bottom: 0px; }
      .container-fluid .right .week-calendar .days .day {
        width: 14.285%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        color: #323b4b;
        font-weight: 500;
        border-left: 1px solid #dadce0; }
        .container-fluid .right .week-calendar .days .day:first-child {
          border-left: 0px; }
      .container-fluid .right .week-calendar .days .active {
        color: #005ff9; }
    .container-fluid .right .week-calendar .events_container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: #fafbfc;
      border: 1px solid #dadce0;
      border-top: 0px; }
      .container-fluid .right .week-calendar .events_container .events {
        width: 14.285%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        border-left: 1px solid #dadce0;
        border-top: 1px solid #dadce0;
        flex-direction: column; }
        .container-fluid .right .week-calendar .events_container .events .event {
          background-color: #fff;
          color: #323b4b;
          width: 90%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          margin-top: 10px;
          border: 2px solid #dadce0;
          overflow-x: hidden;
          box-shadow: 4px 4px 8px #8888888a; }
          .container-fluid .right .week-calendar .events_container .events .event .type {
            display: block;
            width: 100%;
            height: 10px;
            border-radius: 5px;
            color: transparent; }
          .container-fluid .right .week-calendar .events_container .events .event .title {
            width: 100%;
            font-weight: 500;
            text-align: left;
            padding-left: 10px; }
          .container-fluid .right .week-calendar .events_container .events .event .time {
            width: 100%;
            font-size: 1rem;
            text-align: left;
            padding-left: 20px; }
          .container-fluid .right .week-calendar .events_container .events .event:hover {
            box-shadow: 4px 4px 8px transparent;
            transform: translateY(2px);
            transform: translateX(-2px); }
        .container-fluid .right .week-calendar .events_container .events:first-child {
          border-left: 0; }

.loginPage {
  height: 900px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }
  .loginPage .wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    transition: height .2s ease; }
    .loginPage .wrapper .form-box-login {
      width: 100%;
      padding: 40px; }
    .loginPage .wrapper .form-box-register {
      display: none;
      width: 100%;
      padding: 40px; }
    .loginPage .wrapper .form-box-reset-password {
      display: none;
      width: 100%;
      padding: 40px; }
  .loginPage .wrapper.active {
    height: 575px; }
  .loginPage .wrapper.active .form-box-login {
    display: none; }
  .loginPage .wrapper.active .form-box-register {
    display: block; }
  .loginPage .form-box-login h2 {
    font-size: 2rem;
    color: #2d384d;
    text-align: center; }
  .loginPage .form-box-register h2 {
    font-size: 2rem;
    color: #2d384d;
    text-align: center; }
  .loginPage .form-box-reset-password h2 {
    font-size: 2rem;
    color: #2d384d;
    text-align: center; }
  .loginPage .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #5f6368;
    margin: 30px 0; }
  .loginPage .input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1rem;
    color: #8a94a6;
    font-weight: 500;
    pointer-events: none; }
  .loginPage .input-box input:focus ~ label,
  .loginPage .input-box input:valid ~ label {
    top: -5px;
    transition: 0.3s; }
  .loginPage .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-weight: 600;
    padding: 0 35px 0 5px; }
  .loginPage .forget-password {
    font-size: 0.9rem;
    color: #8a94a6;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: right; }
  .loginPage .forget-password a {
    color: #8a94a6;
    text-decoration: none; }
  .loginPage .forget-password a:hover {
    text-decoration: underline; }
  .loginPage .login-submit-btn {
    width: 100%;
    height: 45px;
    background: #8a94a6;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    color: #fff;
    font-weight: 500; }
  .loginPage .register-submit-btn {
    width: 100%;
    height: 45px;
    background: #8a94a6;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    color: #fff;
    font-weight: 500; }
  .loginPage .reset-submit-btn {
    width: 100%;
    height: 45px;
    background: #8a94a6;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    color: #fff;
    font-weight: 500; }
  .loginPage .register {
    font-size: 0.9rem;
    color: #373c4f;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px; }
  .loginPage .register p a {
    color: #323b4b;
    text-decoration: none;
    font-weight: 600; }
  .loginPage .register p a:hover {
    text-decoration: underline; }
  .loginPage button {
    background-color: #005ff9; }
  .loginPage .wrapper.reset {
    height: 575px; }
  .loginPage .wrapper.reset .form-box-login {
    display: none; }
  .loginPage .wrapper.reset .form-box-register {
    display: none; }
  .loginPage .wrapper.reset .form-box-reset-password {
    display: block; }
