@charset "UTF-8";
body {
  background-color: #fff; }

.header {
  background-color: #fff;
  display: flex;
  align-items: center;
  height: 64px;
  padding: 8px;
  border-bottom: 1px solid #dadce0; }
  .header .first-part {
    display: flex;
    padding-right: 30px;
    width: 238px;
    height: 48px; }
    .header .first-part .menu-header {
      border: none;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background-color 0.3s;
      background-color: #fff;
      padding: 12px;
      margin: 0 4px; }
      .header .first-part .menu-header:hover {
        background-color: #f0f0f0; }
      .header .first-part .menu-header .menu-header-img {
        max-width: 20px; }
    .header .first-part .beside-menu {
      display: flex;
      align-items: center;
      width: 137.88px;
      height: 44px; }
      .header .first-part .beside-menu .logo-calendy {
        width: 44px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center; }
      .header .first-part .beside-menu .beside-logo {
        font-size: 22px;
        font-weight: 400;
        width: 93.88px;
        height: 24px;
        margin: 0 0 0 3px;
        display: flex;
        justify-content: center;
        align-items: center; }

.detail-items {
  display: flex;
  height: 48px;
  align-items: center; }
  .detail-items .state {
    height: 48px;
    width: 103.58px;
    justify-content: center; }
    .detail-items .state .current-state {
      width: 80px;
      height: 80%;
      margin-top: 5px;
      padding: 6px;
      border: 1px solid;
      border-radius: 5px;
      border-color: #dadce0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer; }
      .detail-items .state .current-state:hover {
        background-color: #f0f0f0; }
  .detail-items .prev-state {
    margin-right: 5px;
    color: #5f6368;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 50%;
    position: relative;
    transition: background-color 0.3s; }
    .detail-items .prev-state:hover {
      background-color: #f0f0f0; }
    .detail-items .prev-state::before {
      content: "";
      width: 10px;
      height: 10px;
      border-top: 2px solid #5f6368;
      border-left: 2px solid #5f6368;
      position: absolute;
      top: 50%;
      left: 55%;
      transform: translate(-50%, -50%) rotate(-45deg); }
  .detail-items .next-state {
    margin-right: 5px;
    color: #5f6368;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 50%;
    position: relative;
    transition: background-color 0.3s; }
    .detail-items .next-state:hover {
      background-color: #f0f0f0; }
    .detail-items .next-state::before {
      content: "";
      width: 10px;
      height: 10px;
      border-top: 2px solid #5f6368;
      border-left: 2px solid #5f6368;
      position: absolute;
      top: 50%;
      left: 45%;
      transform: translate(-50%, -50%) rotate(135deg); }
  .detail-items .currentDate {
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 400; }

/* Container cho các nút */
.header-buttons {
  height: 48px;
  display: flex;
  margin-left: auto;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  /* Kiểu cho nút sign up */
  /* Kiểu cho nút login */ }
  .header-buttons .register-button {
    background: transparent;
    width: 80px;
    height: 38.4px;
    border: 1px solid;
    border-radius: 5px;
    border-color: #dadce0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer; }
    .header-buttons .register-button:hover {
      background-color: #fff; }
    .header-buttons .register-button .register {
      height: 100%;
      width: 100%; }
  .header-buttons .login-button {
    background: transparent;
    width: 80px;
    height: 38.4px;
    border: 1px solid;
    border-radius: 5px;
    border-color: #dadce0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer; }
    .header-buttons .login-button:hover {
      background-color: #fff; }

.container-fluid {
  position: relative; }

.add-event-form,
.edit-event-form {
  position: absolute;
  max-width: 300px;
  max-height: 500px;
  overflow: hidden;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 4px 4px 8px #8888888a;
  top: 20px;
  left: -300px;
  z-index: 2;
  transition: left 0.5s ease-in; }
  .add-event-form .add-event-header,
  .edit-event-form .add-event-header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: #005ff9;
    border-bottom: 1px solid #dadce0; }
    .add-event-form .add-event-header .title,
    .edit-event-form .add-event-header .title {
      font-size: 1.2rem;
      font-weight: 500; }
    .add-event-form .add-event-header .close,
    .edit-event-form .add-event-header .close {
      font-size: 1.5rem;
      color: #323b4b;
      cursor: pointer; }
      .add-event-form .add-event-header .close:hover,
      .edit-event-form .add-event-header .close:hover {
        color: red; }
  .add-event-form .add-event-body,
  .edit-event-form .add-event-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px; }
    .add-event-form .add-event-body .add-event-input,
    .edit-event-form .add-event-body .add-event-input {
      width: 100%;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px; }
      .add-event-form .add-event-body .add-event-input input,
      .edit-event-form .add-event-body .add-event-input input {
        width: 100%;
        height: 100%;
        outline: none;
        border: none;
        border-bottom: 1px solid black;
        padding: 0 10px;
        font-size: 1rem;
        font-weight: 400;
        color: #373c4f; }
        .add-event-form .add-event-body .add-event-input input::placeholder,
        .edit-event-form .add-event-body .add-event-input input::placeholder {
          color: #a5a5a5; }
        .add-event-form .add-event-body .add-event-input input:focus,
        .edit-event-form .add-event-body .add-event-input input:focus {
          border-bottom: 1px solid var(--my-cyan); }
          .add-event-form .add-event-body .add-event-input input:focus::placeholder,
          .edit-event-form .add-event-body .add-event-input input:focus::placeholder {
            color: #005ff9; }
    .add-event-form .add-event-body select,
    .edit-event-form .add-event-body select {
      margin-top: 10px;
      width: 45%;
      outline: none;
      border: none;
      border-bottom: 1px solid black;
      font-weight: 500; }
  .add-event-form .add-event-footer,
  .edit-event-form .add-event-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding-bottom: 20px; }
    .add-event-form .add-event-footer .add-event-btn,
    .edit-event-form .add-event-footer .add-event-btn {
      height: 40px;
      font-size: 1rem;
      font-weight: 500;
      outline: none;
      border: none;
      color: white;
      background-color: #005ff9;
      border-radius: 20px;
      cursor: pointer;
      padding: 0 10px;
      text-align: right;
      box-shadow: 4px 4px 8px #8888888a; }
      .add-event-form .add-event-footer .add-event-btn:hover,
      .edit-event-form .add-event-footer .add-event-btn:hover {
        box-shadow: 4px 4px 8px transparent;
        transform: translateX(-2px);
        transform: translateX(2px);
        border: 0; }

.edit-event-form .add-event-footer {
  justify-content: space-around; }
  .edit-event-form .add-event-footer .save-event-btn {
    height: 40px;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    border: none;
    color: white;
    background-color: #005ff9;
    border-radius: 20px;
    cursor: pointer;
    padding: 0 10px;
    text-align: right;
    box-shadow: 4px 4px 8px #8888888a; }
    .edit-event-form .add-event-footer .save-event-btn:hover {
      box-shadow: 4px 4px 8px transparent;
      transform: translateX(-2px);
      transform: translateX(2px);
      border: 0; }
  .edit-event-form .add-event-footer .remove-event-btn {
    height: 40px;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    border: none;
    color: white;
    background-color: red;
    border-radius: 20px;
    cursor: pointer;
    padding: 0 10px;
    text-align: right;
    box-shadow: 4px 4px 8px #8888888a; }
    .edit-event-form .add-event-footer .remove-event-btn:hover {
      box-shadow: 4px 4px 8px transparent;
      transform: translateX(-2px);
      transform: translateX(2px);
      border: 0; }

.active {
  left: 10px; }

.left {
  margin-top: 20px;
  min-height: 100vh;
  position: relative;
  background-color: #fff; }
  .left .event-button {
    border-width: 0px;
    border-radius: 25px;
    background-color: #005ff9;
    color: #fff;
    padding: 2px 10px;
    min-height: 48px;
    align-items: center;
    display: flex;
    box-shadow: 4px 4px 8px #8888888a; }
    .left .event-button .icon-add-event {
      padding: 0 5px;
      font-size: 150%; }
    .left .event-button .text-add-event {
      padding: 0 5px;
      font-weight: 500; }
    .left .event-button:hover {
      box-shadow: 4px 4px 8px transparent;
      transform: translateY(2px); }
  .left .calendar-main {
    margin-top: 20px;
    padding: 0 20px;
    background-color: #fff;
    border-top: 2px solid #8a94a6; }
    .left .calendar-main .calendar {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      color: #323b4b;
      border-radius: 5px;
      background-color: transparent; }
      .left .calendar-main .calendar .month {
        width: 100%;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 20px;
        font-size: 14px;
        font-weight: 500;
        text-transform: capitalize;
        position: relative;
        margin-bottom: 10px; }
        .left .calendar-main .calendar .month .prev,
        .left .calendar-main .calendar .month .next,
        .left .calendar-main .calendar .month .date {
          cursor: pointer;
          white-space: nowrap; }
          .left .calendar-main .calendar .month .prev:hover,
          .left .calendar-main .calendar .month .next:hover,
          .left .calendar-main .calendar .month .date:hover {
            color: #005ff9; }
        .left .calendar-main .calendar .month .goToDate {
          position: absolute;
          top: auto;
          bottom: auto;
          font-size: 1rem;
          width: 50px;
          display: flex;
          flex-direction: row;
          visibility: hidden; }
          .left .calendar-main .calendar .month .goToDate .inputDate {
            width: 150px;
            font-weight: 500;
            border: 3px solid #dadce0; }
          .left .calendar-main .calendar .month .goToDate .goToButton {
            background-color: #CFF8FE;
            color: #005ff9;
            border: 3px solid #dadce0;
            border-left: 0;
            font-size: 0.8rem;
            display: flex;
            align-items: center;
            opacity: 0.8; }
            .left .calendar-main .calendar .month .goToDate .goToButton:hover {
              opacity: 1;
              cursor: pointer; }
      .left .calendar-main .calendar .weekdays {
        width: 100%;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 12px;
        font-weight: 500;
        text-transform: capitalize; }
        .left .calendar-main .calendar .weekdays div {
          width: 14.285%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center; }
        .left .calendar-main .calendar .weekdays .weekend {
          color: red; }
      .left .calendar-main .calendar .days {
        width: 100%;
        font-size: 70%;
        font-weight: 500;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; }
        .left .calendar-main .calendar .days .day {
          width: 14.285%;
          height: 0;
          padding-top: 14.285%;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          color: #323b4b;
          margin-bottom: 5px;
          position: relative; }
          .left .calendar-main .calendar .days .day:not(.prev-month):not(.active):not(.next-month):hover {
            background-color: #dadce0;
            border-radius: 50%; }
          .left .calendar-main .calendar .days .day .active {
            color: #fff;
            background-color: #005ff9;
            border-radius: 5px; }
          .left .calendar-main .calendar .days .day div {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center; }
        .left .calendar-main .calendar .days .prev-month,
        .left .calendar-main .calendar .days .next-month {
          color: #8a94a6; }

.right {
  background-color: #fff;
  min-height: 100vh;
  margin-top: 20px; }
  .right .week-calendar {
    display: flex;
    flex-direction: column; }
    .right .week-calendar .weekdays {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border: 2px solid #dadce0;
      border-bottom: 0px; }
      .right .week-calendar .weekdays div {
        width: 14.285%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        font-weight: 500;
        text-transform: capitalize;
        border-left: 2px solid #dadce0; }
        .right .week-calendar .weekdays div:first-child {
          border-left: 0px; }
      .right .week-calendar .weekdays .weekend {
        color: red; }
    .right .week-calendar .days {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border: 2px solid #dadce0;
      border-top: 0px;
      border-bottom: 0px; }
      .right .week-calendar .days .day {
        width: 14.285%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        color: #323b4b;
        font-weight: 500;
        border-left: 2px solid #dadce0; }
        .right .week-calendar .days .day:first-child {
          border-left: 0px; }
      .right .week-calendar .days .active {
        color: #005ff9; }
    .right .week-calendar .events_container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: #fafbfc;
      border: 2px solid #dadce0;
      border-top: 0px; }
      .right .week-calendar .events_container .events {
        width: 14.285%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        border-left: 2px solid #dadce0;
        border-top: 2px solid #dadce0;
        flex-direction: column; }
        .right .week-calendar .events_container .events .event {
          background-color: #fff;
          color: #323b4b;
          width: 90%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          margin-top: 10px;
          border-bottom: 2px solid #dadce0;
          border-left: 2px solid #dadce0;
          overflow-x: hidden;
          box-shadow: 4px 4px 8px #8888888a; }
          .right .week-calendar .events_container .events .event .type {
            display: block;
            width: 100%;
            height: 10px;
            border-radius: 5px;
            color: transparent; }
          .right .week-calendar .events_container .events .event .title {
            width: 100%;
            font-weight: 500;
            text-align: left;
            padding-left: 10px; }
          .right .week-calendar .events_container .events .event .time {
            width: 100%;
            font-size: 1rem;
            text-align: left;
            padding-left: 20px; }
          .right .week-calendar .events_container .events .event:hover {
            box-shadow: 4px 4px 8px transparent;
            transform: translateY(2px);
            transform: translateX(-2px); }
        .right .week-calendar .events_container .events:first-child {
          border-left: 0; }

.loginPage {
  height: 900px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }
  .loginPage .wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    transition: height .2s ease; }
    .loginPage .wrapper .form-box-login {
      width: 100%;
      padding: 40px; }
    .loginPage .wrapper .form-box-register {
      display: none;
      width: 100%;
      padding: 40px; }
    .loginPage .wrapper .form-box-reset-password {
      display: none;
      width: 100%;
      padding: 40px; }
  .loginPage .wrapper.active {
    height: 575px; }
  .loginPage .wrapper.active .form-box-login {
    display: none; }
  .loginPage .wrapper.active .form-box-register {
    display: block; }
  .loginPage .form-box-login h2 {
    font-size: 2rem;
    color: #2d384d;
    text-align: center; }
  .loginPage .form-box-register h2 {
    font-size: 2rem;
    color: #2d384d;
    text-align: center; }
  .loginPage .form-box-reset-password h2 {
    font-size: 2rem;
    color: #2d384d;
    text-align: center; }
  .loginPage .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #5f6368;
    margin: 30px 0; }
  .loginPage .input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1rem;
    color: #8a94a6;
    font-weight: 500;
    pointer-events: none; }
  .loginPage .input-box input:focus ~ label,
  .loginPage .input-box input:valid ~ label {
    top: -5px;
    transition: 0.3s; }
  .loginPage .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-weight: 600;
    padding: 0 35px 0 5px; }
  .loginPage .forget-password {
    font-size: 0.9rem;
    color: #8a94a6;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: right; }
  .loginPage .forget-password a {
    color: #8a94a6;
    text-decoration: none; }
  .loginPage .forget-password a:hover {
    text-decoration: underline; }
  .loginPage .login-submit-btn {
    width: 100%;
    height: 45px;
    background: #8a94a6;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    color: #fff;
    font-weight: 500; }
  .loginPage .register-submit-btn {
    width: 100%;
    height: 45px;
    background: #8a94a6;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    color: #fff;
    font-weight: 500; }
  .loginPage .reset-submit-btn {
    width: 100%;
    height: 45px;
    background: #8a94a6;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    color: #fff;
    font-weight: 500; }
  .loginPage .register {
    font-size: 0.9rem;
    color: #373c4f;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px; }
  .loginPage .register p a {
    color: #323b4b;
    text-decoration: none;
    font-weight: 600; }
  .loginPage .register p a:hover {
    text-decoration: underline; }
  .loginPage button {
    background-color: #005ff9; }
  .loginPage .wrapper.reset {
    height: 575px; }
  .loginPage .wrapper.reset .form-box-login {
    display: none; }
  .loginPage .wrapper.reset .form-box-register {
    display: none; }
  .loginPage .wrapper.reset .form-box-reset-password {
    display: block; }
