<div class="header">
    <div class="left">
        <img class="logo" src="/img/logo.png">
        <div class="name">Calendy</div>
        <div class="date"></div>
    </div>
    <div class="right">
        <div class="button login-button" style="display: none;">Login</div>
        <div class="profile">
            <button class="profile-button">
                <img class="profile-picture" src="/img/profile-picture.png" alt="">
            </button>
            <ul class="menu">
                <li class="selection logout-button">Logout</li>
            </ul>
        </div>
        
    </div>
</div>

<script type="module" src="/js/header.js"></script>