
<header class="header">
    <div class="first-part">
        <button class="menu-header">
            <img class="menu-header-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/1200px-Hamburger_icon.svg.png" />
        </button>
        <div class="beside-menu">
            
            <img class="logo-calendy" id="logo-calendy" src="https://ssl.gstatic.com/calendar/images/dynamiclogo_2020q4/calendar_23_2x.png" alt="Logo Calendy">
            <script>
            const currentDate = new Date();
            const day = currentDate.getDate();
            const logoCalendy = document.getElementById('logo-calendy');
            logoCalendy.src = `https://ssl.gstatic.com/calendar/images/dynamiclogo_2020q4/calendar_${day}_2x.png`;
            </script>
            <span class="beside-logo">Calendy</span>
        </div>
        
    </div>

    <div class="detail-items">
        <div class="state">
            <div class="current-state">
                <br>
                <a onclick="location.reload()">
                Today
                </a>
            </div>
            </div>

            <div class="prev-state">
            </div>
            <div class="next-state">
            </div>
         
    
            <div class="currentDate">Month Day Year</div>
        </div>
        <div class="avt"></div>
        <div class="header-buttons">
            <div class="register-button">
                <button class="register-button" id="register">Register</button>
            </div>
            <div class="login-button">
                <button class="login-button">Log in</button>
            </div>
        </div>
    </div>
</header>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const currentDate = new Date();
        const options = { month: 'long', day: 'numeric', year: 'numeric' };
        const formattedDate = currentDate.toLocaleDateString('en-US', options);
        const day = currentDate.getDate();
        const formattedDay = addSuffix(day); 

        const currentDateElement = document.querySelector('.currentDate');
        currentDateElement.textContent = formattedDate.replace(/(\d+)/, formattedDay);
    });

    function addSuffix(day) {
        if (day >= 11 && day <= 13) {
            return day + "th";
        }
        switch (day % 10) {
            case 1: return day + "st";
            case 2: return day + "nd";
            case 3: return day + "rd";
            default: return day + "th";
        }
    }
</script>



