<div class="header">
    <div class="left">
        <img class="logo" src="/img/logo.png">
        <div class="name">Calendy</div>
        <div class="date"></div>
    </div>
    <div class="right">
        <div class="button login-button" style="display: none;">login</div>
        <div class="button logout-button">logout</div>
    </div>
</div>

<script type="module" src="/js/header.js"></script>