<header class="header">
    <div class="first-part">
        <button class="menu-header">
            <img class="menu-header-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/1200px-Hamburger_icon.svg.png" />
        </button>
           
        <div class="beside-menu">
            <img class="logo-calendy" src="https://ssl.gstatic.com/calendar/images/dynamiclogo_2020q4/calendar_23_2x.png" alt="Logo Calendy">
            <h4 class="beside-logo">Lịch</h4>
        </div>
    </div>

    <div class="detail-items">
        <div class="state">
            <div class="current-state">
                Today
            </div>
            </div>

            <div class="change-state">
                <span>
                    <i class=" prev-state"></i>
                    <i class="next-state"></i>
                </span>
            </div>

            <div class="title-state"></div>
        </div>
        <div class="avt"></div>
        <!-- Thêm nút đăng nhập ở đây -->
        <div class="login-button">
            <button class="login-button">Login</button>
        </div>
    </div>
</header>